
.content-section-subjects{
    display:flex;
    gap: 5px;
}
.nav-links{
    display:flex;
    gap:50px;
    padding-left:550px;
    padding-top:0px 0px 0px 0px;
}
.header-content{
    padding-left:500px;
}
.logo{
    font-size:30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:300px;
    
}
.nav-bar{
    display:flex;
    justify-content: space-between;
    padding:10px 19px;
    align-items: center;

}